<script id="result-template" type="text/x-handlebars-template">
  <div>
	<div class="page-header">
		<div class="row-fluid">
			<div class="span9">
				<h2>{{Name}}</h2>
			</div>
			<div class="span3" style="height:40px;padding-top:10px;">
				<a class='btn btn-primary pull-right' href="/#home" style="margin:5px"><i class="icon-home icon-white"></i> Home</a>
				<a id="result-back-btn" class="btn btn-primary pull-right" style="margin:5px"><i class="icon-search icon-white"></i> Search</a>
			</div>
		</div>
	</div>

	<div class='checkbox pull-right'>
		<label>
			<input type='checkbox' {{#if isChecked}}checked{{/if}} onclick='ESIS.compare.toggle(this);' class='select-{{_id}}' itemid='{{_id}}' itemname='{{title}}' /> Compare
		</label>
	</div>
	
	{{#if Description}}
		<h4>Description</h4>
		<div class="Description" style='margin-bottom:15px'>{{Description}}</div>
	{{/if}}
	
	<h4>Main Metadata</h4>
	<div class="row-fluid">
		<div class="span6">
			<div id="result-main-left-panel"></div>
		</div>
		<div class="span6">
			<div id="result-main-right-panel"></div>
		</div>
	</div>

	<h4>Secondary Metadata</h4>
	<div class="row-fluid" style='margin-bottom:15px'>
		<div class="span6">
			<div id="result-secondary-left-panel"></div>
		</div>
		<div class="span6">
			<div id="result-secondary-right-panel"></div>
		</div>
	</div>

	<div class="well">
		<div id="result-chart-panel"></div>
	</div>
	
	<div id="result-export"></div>

	
  </div>
</script>